/* universal
  ------------------------- */
body, html {
  height: 100%;
  font-family: "system-ui", sans-serif;
}

h1 {
  margin: 1.5rem 0;
}

button {
  margin: 0 1rem 1rem 1rem;
}

.no-margin {
  margin: 0;
}

.no-left-margin {
  margin: 0 .5rem 1rem 0;
}

#message {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}


/* tables
  ------------------------- */
table {
  margin: 2rem 0;
}


/* footer
  ------------------------- */
footer, footer a {
  padding: 2rem 0;
  background-color: #343A40;
  color: #ffffff;
}

.footer-list {
  display: inline;
  margin-right: 2rem;
  font-size: 2.5rem;
}

#copyright {
  margin-bottom: 2rem;
}

#github a:focus, #github a:hover, #github a:before {
  color: #800080;
}

#mail a:focus, #mail a:hover, #mail a:before {
  color: #4077B5;
}

#linkedin a:focus, #linkedin a:hover, #linkedin a:before {
  color: #0077B5;
}
