/* universal
  ------------------------- */
body, html {
  height: 100%;
  font-family: "system-ui", sans-serif;
}

h1 {
  margin: 1.5rem 0;
}

button {
  margin: 0 1rem 1rem 1rem;
}

.no-margin {
  margin: 0;
}

.no-left-margin {
  margin: 0 .5rem 1rem 0;
}

.message {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}


/* tables
  ------------------------- */
table {
  margin: 2rem 0;
}


/* footer
  ------------------------- */
footer {
  padding: 2rem 0;
  background-color: #343A40;
  color: #fff;
}
